<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Pinterest
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="collection ion-padding">
    <div class="collection-item ion-text-center" *ngFor="let img of imageList">
      <ion-button>
        <ion-icon name="bookmark" slot="start"></ion-icon>
        Bookmark
      </ion-button>
      <img [src]="img.download_url" />
      {{ img.author }}
    </div>
  </div>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadImages($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading Images...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>